<!DOCTYPE HTML>
<html >
<body>
<div class="container my-3">
  <div>
    <table class="table">
      <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>닉네임</th>
        <th>이메일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>